.vibanner video{ 
    position: absolute;
    width:100%;
    top:-5.25vw;
    z-index: -1;

}

.vibanner {
    margin-bottom: 53vw;
}
.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vw;
    padding-top: 8vw;

}

.imgcon img {
    width: 64.5vw;
    height: 36.5vw;
}

.textcon {
    margin-left: 2vw;
    margin-top: 10vw;
}

.textcon h2 {
    border-left: 0.15vw solid #bf5c40;
    padding: 2vw 0vw;
    margin-bottom: 2vw;
}

.textcon h3 {
    color: #bf5c40;
    margin-bottom: 1vw;
}

.textcon p {
    font-size: 0.8vw;
    padding-right: 3.5vw;
    line-height: 1.5vw;
}


.bgleft {
    position: absolute;
    width: 21vw;
    left: 0;
    top: 87vw;
    z-index: -1;

}

.textr{
    margin-top: 9vw;
}

.textr p {
    padding-right: 4.5vw;
}

.bgright {
    position: absolute;
    width: 21vw;
    right: 0;
    top: 141.5vw;
    z-index: -1;

}

.left2 {
    top: 196vw;
}

.textl2 {
    margin-top: 6vw;
}

.icon1 {
    margin-left: 3vw;
    width: 8vw;
}
.icon2 {
    margin-left: 7vw;
    width: 5vw;
}
.icon3 {
    margin-top: 3vw;
    margin-left: 5vw;
    width: 5vw;
}
.icon4 {
    margin-left: 6vw;
    margin-top: 3vw;
    width: 10vw;
}


.textr2 {
    margin-top: 7vw;
}

.textr2 p {
    padding-right: 4.5vw;
    margin-bottom: 1.5vw;
}

.textr2 a {
    font-size: 0.8vw;
    color: #bf5c40;
    text-decoration: none;
    font-weight: bold;
}
.textr2 a:hover{
    color: #bf5c40;
    text-decoration: underline;
    
}

.right2{
    top: 250vw;
}

.right3{
    top: 305vw;
}

.changeto{
    color: white;
    background-color: #bf5c40;
    margin-left: 0.5vw;
}




