.facilitie {
    text-align: center;
    color: #bf5c40;
}

.disclaimer2 {
    text-align: center;
    font-size: 0.5vw;
    padding: 0vw 18.5vw;
    margin-bottom: 5vw;
    margin-top: 1vw;
}

.levelselect {
    display: flex;
    justify-content: end;
    margin-right: 8vw;
}

.levelselect p {
    margin-left: 2vw;
}

.levelimg{
    width: 80vw;
}