.facilitie {
    text-align: center;
    color: #bf5c40;
}

.disclaimer2 {
    text-align: center;
    font-size: 0.6vw;
    padding: 0vw 18.5vw;
    margin-bottom: 5vw;
    margin-top: 1vw;
}

.levelselect {
    display: flex;
    justify-content: end;
    margin-right: 10vw;
}

.levelselect p {
    margin-left: 2vw;
    cursor: pointer;
}

#lv1 {
    color: #bf5c40;
}

.levelimg{
    display: flex;
    justify-content: center;
}
.levelimg img{
    width: 80vw;
}

.textlv{
    position: absolute;
    top: 62.5vw;
    left: 10vw;
    width: 80vw;
}


.levelplan{
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    margin-top: 2vw;
}


.outdoor h3, .indoor h3{
    font-size: 1.2vw;
    margin-left: 2vw;
    margin-bottom: 1.5vw;
}
.rowout{
    display: flex;
}
.colout{
    margin-left: 2vw;
    margin-right: 2vw;
}
.colout p{  
    font-size: 0.9vw;
    margin-bottom: 0.5vw;
}

.rowlv3 {
    margin-right: 6.5vw;
}


