.bgfoot1 {
   width: 100%;
   display: flex;
   justify-content: center;
   background: rgb(132, 44, 30);
   background: linear-gradient(90deg, rgba(132, 44, 30, 1) 0%, rgba(200, 107, 71, 1) 50%, 
   rgba(51, 49, 50, 1) 50%, rgba(51, 49, 50, 1) 100%);
}

.craft {
   display: inline-block;
   background-color: white;
   margin: 1vw;
   width: 100%;
}

.craft p {
   text-align: center;
   padding-top: 4vw;
   font-size: 1.5vw;
}

.teamicon {
   display: flex;
   justify-content: space-between;
   padding: 0vw 18vw;
   margin-bottom: 3vw;
}

.collapicon {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.teamicon p {
   font-size: 1.3vw;
}

.logo1 {
   width: 11vw;
}

.logo2 {
   width: 8vw;

}

.butregis {
   display: flex;
   justify-content: center;
}

.numregis {
   display: flex;
   justify-content: center;
}

.craft button {

   border: 0.1vw solid transparent;
   background-color: #bf5c40;
   padding: 1vw 2vw;
   text-decoration: none;
   color: white;
   font-size: 1.2vw;
}

.numregis a {
   display: inline-block;
   margin-top: 1vw;
   margin-bottom: 2vw;
   text-decoration: none;
   color: #bf5c40;
   font-size: 1.7vw;
   border-top: 0.1vw solid #bf5c40;
   border-bottom: 0.1vw solid #bf5c40;
   padding: 0.5vw 1vw;
}

.craft a:hover {
   color: #bf5c40;
}

.moreinfo {
   background-color: #333132;
   border-top: 0.15vw solid #bf5c40;
}

.moreetc {
   padding: 0vw 8vw;
}

.mfcapi {
   padding-left: 3vw;
}

.infoetc {
   display: flex;
   flex-direction: column;
   margin-top: 2vw;
   color: white;
}

.infoetc label p {
   display: none;
}

.infoetc ul {
   padding-inline-start: 0vw;
}

#etcblock {
   display: block;

}

.infoetc ul li {
   list-style: none;

}

.infoetc h4 {
   font-size: 0.9vw;
   margin-bottom: 1vw;
}

.infoetc a {
   font-size: 0.7vw;
   margin-bottom: 0.5vw;
   text-decoration: none;
   color: white;
}

.infoetc a:hover {
   color: white;
   text-decoration: underline;
   width: fit-content;
}


.follow {
   display: flex;
   justify-content: space-between;
   margin: 1vw 8vw 0vw 8vw;
   padding: 1vw 0vw;
   border-top: 0.1vw solid white;
   color: white;
   font-size: 0.7vw;
}

.follow a {
   padding: 0vw 0.75vw;
   text-decoration: none;
   color: white;
}

.follow a:hover {
   color: white;
}

.folleft {
   border-right: 0.1vw solid white;
}

.social {
   display: flex;
}

.social p {
   padding-right: 0.5vw;
   padding-top: 0.2vw;
}

.social a {
   padding: 0vw 0.2vw;

}

.social img {
   width: 2.4vw;
   height: 1.8vw;
   padding: 0vw 0.2vw;
}

.descrip {
   background-color: #e6e6e7;
   padding: 1.5vw 13vw;
}

.descrip p {
   text-align: center;
   font-size: 0.7vw;
   line-height: 1.2vw;
}

.contact {
   padding: 2.5vw 10vw;
}

.copyright {
   display: flex;
   flex-direction: column;
   font-size: 0.6vw;
}

.copyright img {
   width: 6vw;
   margin-bottom: 1vw;
}

.copyright a {
   color: black;
}

.address {
   display: flex;
   flex-direction: column;
}

.address p {
   padding-top: 2vw;
   font-size: 0.6vw;
   text-align: end;
}

@media only screen and (max-width: 575px) {
   .craft {
      margin: 2vw;
   }

   .craft p {
      padding-top: 4vw;
      font-size: 3.5vw;
   }

   .teamicon {
      padding: 0vw 15vw;
   }

   .teamicon p {
      font-size: 1.5vw;
   }

   .logo1 {
      width: 18vw;
   }

   .logo2 {
      width: 12vw;
   }

   .craft button {
      font-size: 2.5vw;
      margin-bottom: 2vw;
   }

   .numregis a {
      font-size: 3vw;
      padding: 1vw 1.5vw;
      margin-bottom: 4vw;
   }


   .moreetc {
      padding: 0vw 3vw;
      margin-top: 5vw;
   }

   .mfcapi {
      padding-left: 0vw;
   }

   .infoetc {
      margin-bottom: 1.5vw;
   }

   .infoetc label {
      border-bottom: 0.1vw solid white;
      padding-bottom: 0vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .infoetc label p {
      display: block;
      transform: rotate(180deg);
   }

   .infoetc h4 {
      font-size: 2.2vw;
   }

   #etcblock {
      display: none;
      margin-top: 1.5vw;

   }

   #etcblock li {
      margin-top: 1vw;
   }

   .infoetc a {
      font-size: 2.5vw;

   }

   .follow {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1vw 5vw 0vw 5vw;
      padding: 1vw 0vw;
      font-size: 2vw;
      border-top: 0;
      color: white;
   }

   .follow a {
      padding: 0vw 2.5vw;
      text-decoration: none;
      color: white;
   }

   .follow a:hover {
      color: white;
   }

   .folleft {
      border-right: 0.1vw solid white;
   }

   .social {
      display: flex;
      flex-direction: column;
      margin-top: 3vw;
      margin-bottom: 5vw;
   }

   .social a {
      padding: 0vw 0.5vw;

   }

   .social p {
      text-align: center;
   }

   .social img {
      width: 6vw;
      height: 5vw;
      padding: 0vw 0.5vw;
   }

   .descrip {
      padding: 5vw 3vw;
   }

   .descrip p {
      line-height: 2.5vw;
      font-size: 1.9vw;
      margin-bottom: 0vw;
   }

   .contact {
      padding: 2.5vw 2vw;
   }

   .contact p {
      font-size: 1.2vw;
   }

   .copyright {
      margin-top: 2vw;
      align-items: center;
      margin-bottom: 10vw;
   }

   .copyright p {
      font-size: 1.8vw;
   }

   .copyright a {
      font-size: 1.8vw;
   }

   .copyright img {
      width: 15vw;
      margin-bottom: 2vw;
   }

   .address p {

      font-size: 1.8vw;
      text-align: center;
      margin-bottom: 10vw;

   }
}