.delogo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 8vw;
    margin-top: 8vw;
    margin-bottom: 1.5vw;
}

.gal5 {
    width: 100%;
    height: 41vw;
    object-fit: cover;
    object-position: center 50%;
}

.where {
    text-align: center;
    margin-top: 6vw;
    margin-bottom: 2.5vw;
    color: #bf5c40;
    font-size: 2.5vw;
    font-family: 'Montserrat-Regular';
}

.staymap {
    display: flex;
    margin-bottom: 2vw;
    margin-left: 2.8vw;
}

.bgmap img {
    width: 61.5vw;
    height: 45vw;
}


#liblock {
    display: none;
    padding-left: 0;
}

.menu {
    margin-top: 0.5vw;
    padding-inline-start: 1.5vw;
}

.menu li {
    list-style: none;
    margin-bottom: 0.5vw;
    border-bottom: 0.1vw solid #bf5c40;
    width: 26vw;
    cursor: pointer;
}

.headdrop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headdrop p {
    color: #bf5c40;
    font-size: 1.2vw;
}


.menu label {
    margin-bottom: 0.5vw;
    font-size: 0.8vw;
    font-weight: bold;
    font-family: 'Montserrat-Regular';
}

.menu li ul li {
    border: 0;
    font-size: 0.7vw;
    font-family: 'Montserrat-Light';

}

.menu li ul li span {
    border-radius: 50%;
    background-color: #bf5c40;
    color: white;
    display: inline-block;
    text-align: center;
    width: 1vw;
    height: 1vw;
    line-height: 1vw;
    font-weight: bold;
    font-size: 0.6vw;

}

.disclaimer {
    font-size: 0.7vw;
    margin-bottom: 2vw;
    text-align: center;
    font-family: 'minion_proregular';
}

.mapextend img {
    position: absolute;
    left: 2.5vw;
    top: 63.7vw;
    width: 62vw;
    height: 45vw;
}

#surround {
    color: #bf5c40;
}

@media only screen and (max-width: 991px) {
    .mapextend img {
        left: 2.5vw;
        top: 64.2vw;
        width: 62vw;
        height: 44vw;
    }
}

@media only screen and (max-width: 575px) {

    .where {
        margin-top: 8vw;
        margin-bottom: 3vw;
        font-size: 4vw;
    }
    
    .bgmap img {
        width: 97%;
        height: auto;
    }

    .mapextend img {
        left: 3vw;
        top: 77vw;
        width: 93%;
        height: auto;
    }

    .delogo {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 15vw;
        margin-top: 13vw;
        margin-bottom: 3vw;
    }
    .menu {
        margin-top: 3vw;
        padding-inline-start: 0vw;
    }
    .menu label {
        font-size: 2vw;
        margin-bottom: 0vw;
    }

    .menu li {
        margin-bottom: 1vw;
        width: 93vw;

    }
    .headdrop p {
        font-size: 3vw;
    }
    
    .menu li ul li {
        font-size: 2vw;
    
    }
    .menu li ul li span {
        width: 3vw;
        height: 3vw;
        line-height: 3vw;
        font-size: 2vw;  
    }

    .disclaimer {
        font-size: 1.5vw;
        padding: 0 5vw;
        margin-bottom: 3vw;
    }
    

}