.delogo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 7vw;
    margin-top: 5vw;
    margin-bottom: 1.5vw;
}

.gal5 {
    width: 100%;
    height: 41vw;
    object-fit: cover;
    object-position: center 50%;
}

.where {
    text-align: center;
    margin-top: 6vw;
    margin-bottom: 2.5vw;
    color: #bf5c40;
}

.staymap {
    display: flex;
    margin-bottom: 2vw;
    margin-left: 2.8vw;
}

.bgmap img{
    width: 61.5vw;
    height: 45vw;
}

.point {
    margin-top: 0.5vw;
}

.menu ul,
.menu input,
.menu .closer,
.menu input:checked~.opener {
  display: none;
}

.menu input:checked~ul,
.menu input:checked~.closer {
  display: block;
}

.menu li{
    list-style: none;
    font-size: 0.6vw;
    margin-bottom: 0.5vw;
    border-bottom: 0.1vw solid #bf5c40;
    width: 27vw;
}

.menu label{
    margin-bottom: 0.5vw;
    font-size: 0.8vw;
}

.menu li ul li{
    border: 0;
}

.disclaimer{
    font-size: 0.7vw;
    margin-bottom: 2vw;
    text-align: center;
}

.mapextend img{
    position: absolute;
    left: 2.5vw;
    top: 62.4vw;
    width: 62vw;
    height: 45vw;
}
 #surround{
    color: #bf5c40;
 }