.headborder{
    display: flex;
    margin: 6vw 0 5vw 5vw;
}
.headnew{
    color: #bf5c40;
    font-size: 2vw;
}
.headnew2{
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    border-top: 0.1vw solid #bf5c40;
    padding-right: 74vw;
}
.newmedia{
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
}
.new{
    display: flex;
    justify-content: space-between;
}

.boxnew{
    width: 27.5vw;
    height: 26vw;
    background-color: #f0f0f0;
    margin-bottom: 4vw;
    
}

.boxnew img {
    width: 100%;
    height: 60%;
    border-left: 0.5vw solid #bf5c4094;
    border-top: 0.5vw solid #bf5c4094;
    border-right: 0.5vw solid #f0f0f0;

}

.boxnew img:hover{
    border-left: 0.5vw solid #bf5c40;
    border-top: 0.5vw solid #bf5c40; 
    transition: 700ms;

}

.newtext{
    display: flex;
}
.newdatebox{
    background-color: white;
    height: 10.38vw;
}
.newdate{
    background-color: #bf5c40;
    padding: 0.5vw 0.7vw 0vw 0.7vw;
    height: 6vw;

}
.newdate h4{
    font-size: 1.7vw;
    margin-bottom: 0vw;
    color: white;
}
.newdate p{
    font-size: 0.8vw;
    margin-bottom: 0vw;
    color: white;
}
.newname h5{
    font-size: 0.9vw;
    margin-top: 3vw;
    margin-left: 1vw;
}
.newname p{
    font-size: 0.8vw;
    margin-left: 1vw;
}

