.header{
    display: flex;
    justify-content: space-between;
    height: 3.4vw;
    padding: 0 2vw;
    background-color: white;
    border-bottom: 0.2vw solid #bf5c40;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}
.logocapita img{
    width: 6vw;
    margin-top: 0.3vw;
    
}
.headmenu{
    display: flex;
}
.language{
    display: flex;
    margin-right: 1.5vw;
    margin-top: 0.8vw;
    
}
.language p{
   padding: 0 0.3vw;
    
}


.btnregis{
    text-decoration: none;
    color: #bf5c40;
    margin-top: 1vw;
    font-size: 0.7vw;
    font-weight: bold;
}

.btnregis a{
    border: 0.15vw solid #bf5c40;
    padding: 0.35vw 1.25vw 0.45vw 1.25vw;
}

.en {
    color: #bf5c40;
}



