.header{
    display: flex;
    justify-content: space-between;
    height: 4vw;
    padding: 0 3vw;
    background-color: white;
    border-bottom: 0.2vw solid #bf5c40;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

}
.logocapita img{
    width: 7vw;
    margin-top: 0.5vw;
    
}
.headmenu{
    display: flex;
}
.language{
    display: flex;
    margin-right: 1.5vw;
    margin-top: 1vw;
    
}
.language p{
   padding: 0 0.3vw;
   font-size: 1vw;
    
}


.btnregis{
    text-decoration: none;
    color: #bf5c40;
    margin-top: 1.2vw;
}

.btnregis a{
    border: 0.15vw solid #bf5c40;
    padding: 0.55vw 1.25vw 0.55vw 1.25vw;
    text-decoration: none;
    color: #bf5c40;
    font-size: 0.9vw;
    font-weight: bold;
}

.btnregis a:hover{
   background-color: #bf5c40;
   color: white;
   transition: 700ms;
}
.en {
    color: #bf5c40;
}


@media only screen and (max-width: 991px) {
    .header{
        height: 5vw;
    
    }
    .logocapita img{
        width: 8vw;
        margin-top: 0.9vw;
        
    }
    .btnregis{
        margin-top: 1vw;

    }
    .language{
        margin-top: 1.7vw;
        
    }
    
}

@media only screen and (max-width: 575px) {
    .header{
        height: 7vw;
    
    }
    .logocapita img{
        width: 12vw;
        margin-top: 0.9vw;
        
    }
    .btnregis{
        margin-top: 1vw;

    }
    .btnregis a{     
        font-size: 1.2vw;
    }
    .language{
        margin-top: 2vw;
        
    }
    .language p{
        font-size: 2vw;
         
     }
}


