.images {
    margin-left: 5vw;
    margin-right: 5vw;
}

.image {
    text-align: center;
    border: 0.1vw solid #bf5c40;
    margin-bottom: 3vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    height: 25vw;
}

.image img {
    width: 100%;
    height: 16vw;
    margin-bottom: 1vw;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    font-size: 1vw;
    gap: 5px;

}

.pagination .page-num {
    padding: 0.25vw 0.60vw;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.pagination .page-num:hover {
    background-color: #bf5c40;
    color: #fff;
}

.pagination .page-num-chg {
    padding: 0.25vw 0.60vw;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.pagination .page-num-chg:hover {
    color: #bf5c40;
}



.pagination .active {
    background-color: #bf5c40;
    color: #fff;
}