.newstyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlename{
    font-size: 2.5vw;
    color: #bf5c40;
    margin-bottom: 2vw;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Montserrat-Regular';
}

.titledate{
    font-size: 1.2vw;
    font-family: 'minion_proregular';
}
.titlesub{
    font-size: 0.8vw;
    width: 50%;
    margin: 1vw auto;
    font-family: 'minion_proregular';
}
.backtomain{
    display: flex;
    width: 60%;
    margin: 3vw auto;
}

.backtomain a{
    text-decoration: none;
    color: #bf5c40;
    font-size: 1.2vw;
    font-family: 'Montserrat-Light';
}
.backtomain a:hover{
    color: #bf5c40;
}
.backto {
    color: #bf5c40;
    margin-right: 0.5vw;
    margin-top: -0.25vw;
}
.fulldetali{
    font-size: 0.8vw;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.fulldetali p{
    margin-bottom: 0.5vw;
}

.fulldetali img{
    width: 50vw;
    object-fit: contain;
}
 