.bglefthid {

    position: absolute;
    width: 21vw;
    left: 0;
    top: 34.5vw;
    z-index: -1;
}

.conhid{
    margin-bottom: 10vw;
    padding-top: 0vw;
}
.texthid{
    margin-top: 8vw;
}


.main-carousel {
    position: relative;
    height: 36.5vw;
    margin-left: 1.6vw;
}

.items {
    width: 64.5vw;
    
}

.carousel-image {
    width: 64.5vw;
    height: 32.5vw;
    object-fit: cover;
    object-position: 50% 100% ;
    position: absolute;
}



#prevBtn, #nextBtn {
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    opacity: 0.7;
    position: absolute;

}
#prevBtn:hover, #nextBtn:hover{ 
    opacity: 1;
}

.buttons #prevBtn { 
    top: 16vw;
    left: 0vw;
    background-color: #bf5c40;
    padding: 0.5vw;
}

.buttons #nextBtn {
    top: 16vw;    
    right: 0vw;
    background-color: #bf5c40;
    padding: 0.5vw;
}

@media only screen and (max-width: 991px) { 
    .carousel-image {
        width: 100%;
        height: auto;
       
    }

    .main-carousel {
        width: 100%;
        position: absolute;
        top: 15vw;
        margin-left: 0;
    }

    .texthid{
        margin-top: 55vw;
    }
    
    .buttons #prevBtn { 
        top: 24vw;
       
    }
    
    .buttons #nextBtn {
        top: 24vw;    
      
    }
    
}

@media only screen and (max-width: 575px) { 

    .texthid{
        margin-top: 50vw;
    }


    .main-carousel {
        width: 100%;
        position: absolute;
        top: 20vw;
        margin-left: 0;
    }
}